<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- IV must be exactly 16 characters. -->
    <add key="IV" value="KeepMeSafePlease"/>
    <!-- A long, random string will suffice for salt.  -->
    <add key="Salt" value="K wdAebLbAcWxVEpNKS|Bab2csk~+Km5aZGW9vfJ6D7RZltCZ4SGGxgmKw_"/>
  </appSettings>
</configuration>