<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="IV" value="FartedInPublic"/>
    <add key="Salt" value="K wdAebLbAcWxVEpNKS|Bab2csk~+Km5aZGW9vfJ6D7RZltCZ4SGGxgmKw_"/>
    <add key="Password" value="smellyourbeans"/>-->
    <add key="IV" value="FartedInPublic69"/>
    <add key="Salt" value="jfdg8jlFJH89lkJsdf9jm8n*y6(*^jlkfdj"/>
    <add key="Password" value="buttsmells"/>
  </appSettings>
</configuration>